@import url(reset.css);
@import url(font.css);

body{
  background-image: url(../image/bg.jpg);
  background-color: rgba(50, 50, 50, 0.9);
  background-blend-mode: multiply;
  /* width: 1300px; */
}

#wrap{
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


/* header _______________________ */

header{
  /* border: 1px solid #fff; */
  display: flex;
  margin: 10px 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #111;
  z-index: 1000; 
}

.logo{
  width: auto;
  height: 60px;
  /* flex: 1; */
}
.logo img{
  width: auto;
  height: 100%;
  margin-left: -6px;
  display: block;
}

.gnb{
  /* border: 1px solid #fff; */
  flex: 6;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 19px;
  letter-spacing: 0.07em;
}

.gnb ul{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.gnb ul li a{
  position: relative;
  display: inline-flex;
  height: 60px; 
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-weight: 700;
  color: #fff; 
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s;
}

.gnb ul li a:before,
.gnb ul li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 2px;
  transform: translateX(-50%)
    translateY(-50%)
    rotate(0deg);
  transform-origin: center;
  background-color: #fff;
  opacity: 0;
  z-index: 0;
  transition: 0.3s;
}

.gnb ul li a:before {
  transform: translateY(calc(-50% - 20px))
}

.gnb ul li a:after {
  transform: translateY(calc(-50% + 20px))
}

.gnb ul li a:hover {
  color: #85BF72;
}

.gnb ul li a:hover:before, 
.gnb ul li a:hover:after {
  opacity: 0.6;
}

.gnb ul li a:hover:before{
  transform: rotate(45deg);
}

.gnb ul li a:hover:after {
  transform: rotate(-45deg);
}


.util{
  flex: 1;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 25px;
  height: 60px;
}


/* main _________________________ */


@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}

main{
  position: relative;
  height: 90vh;
  overflow: hidden;
  padding: 70px 0 100px;
  margin-top: 10px;
  color: #fff;
}

.main_visual{
  position: absolute;
  inset: 0;
  background: url(../image/main_visual.png) no-repeat top right;
  background-size: auto 700px;
  animation: kenburns-top-right 4s ease-out both;
  pointer-events: none;
  z-index: 0;
}
.main_visual::before{
  content: '';
  inset: 0;
  position: absolute;
  background: radial-gradient(circle,rgba(53, 64, 52, 0.12) 0%, rgba(0, 0, 0, 1) 100%);
  mix-blend-mode: multiply;
  opacity: 0.6;
  pointer-events: none;
}

.main_text{
  /* border: 2px solid rgb(4, 255, 138); */
  position: absolute;
  top: 100px;
  left: 50px;
  font-family: 'Gmarket-SansLight', sans-serif;
  font-size: 45px;
  line-height: 1.4;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.main_text h2 span{font-family: 'Gmarket-SansBold', sans-serif;}
.main_text h2:first-child{margin-bottom: 15px;}


/* //// 구매 버튼 //// */
.button {
  position: absolute;
  top: 400px;
  left: 150px;
  transform: translateX(-50%);

  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: none;
  background-color: #0a0a0a;
  cursor: pointer;
  overflow: hidden;
  z-index: 30;
  transform-origin: center; 
  transition: .3s;
}

.fa-solid {
  font-size: 30px;
  color: #fff;
  transform: translateY(0);
  transition: .3s;
}

.button::before {
  content: '구매하기';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Gmarket-SansMedium', sans-serif;
  color: #fff;
  font-size: 1px;
  transition: .3s;
}

.button:hover {
  width: 200px;
  border-radius: 50px;
  background-color: #85BF72;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.button:hover .fa-solid {
  font-size: 40px;
  transform: translateY(35px);
}

.button:hover::before {
  font-size: 24px;
  opacity: 1;
  transform: translate(-50%, 35px);
}

  @keyframes focus-in-contract {
  0% {letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;}
  100% {filter: blur(0px);
        opacity: 1;}
  }

.main_caption{
  position: absolute;
  bottom: 80px;
  right: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 30px;
  z-index: 20;
}

.main_caption p{
  /* border: 2px solid yellow; */
  width: max-content;
  white-space: nowrap;
  text-align: right;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 32px;
  line-height: 1.4;
  color: #fff; 
  animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main_caption p span{color: #85BF72;}
.main_caption p:first-of-type{animation-delay: 0.4s;}
.main_caption p:last-of-type{animation-delay: 0.6s;}


/* 마우스 스크롤 효과 */
@keyframes fadein {to {opacity: 1;}}

@keyframes mouse-pulse {
    0% {opacity: 1;
        transform: translateY(0);}
    100% {opacity: 0;
        transform: translateY(6px);}
}

/* 깜빡이는 애니메이션 */
@keyframes fade-arrow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.mouse_scroll{
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadein 5s ease forwards;
}

.mouse_scroll .mouse{
  display: block;
  width: 24px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 24px;
}

.mouse::after{
  content: '';
  display: block;
  position: relative;
  width: 2px;
  height: 6px;
  margin: 5px auto;
  background-color: #fff;
  animation: mouse-pulse 1s ease infinite;
}

.mouse .down{margin-top: 6px;}
.mouse .down span{
  display: block;
  position: relative;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-bottom: 2px;
  margin-left: -2px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg) translateX(-50%);
  animation: fade-arrow 1s infinite;
}
.mouse .down:nth-child(2){
  animation-delay: 0.2s;
  animation-direction: alternate;
}
.mouse .down:nth-child(2){
  animation-delay: 0.3s;
  animation-direction: alternate;
}





/* 섹션1 앨범소개 _____________ */

.container{}


#s1{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#s1 .album, .video-wrap{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

#s1 .album h3{
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 55px;
  text-align: center;
  background-image: linear-gradient(90deg, #fff 0% , #fff 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-size 1.3s ease;
}

#s1 .album h3:hover{background-size: 100% 100%;}



#s1 .video-wrap{
  position: relative;
  width: 100%;
  max-width: 1300px;
  aspect-ratio: 16 / 9;
}

.video-wrap iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


/* //// 카드 //// */

@keyframes rotation_481 {
  0% {transform: rotateZ(0deg);}
  0% {transform: rotateZ(360deg);}
}

@keyframes floating {
  0% {transform: translateY(0px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
}

.card{
  display: flex;
  column-gap: 80px;
  justify-content: center;
  margin: 0 auto;
}

.card1, .card2, .card3 {
  overflow: visible;
  width: 350px;
  height: 400px;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: .35s;
}

.front, .back {
  background: radial-gradient(ellipse at 50% 50%,#000000, #202020, rgb(48, 48, 48));
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
}

.card .content .back img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.card1 .content .back::before{
  content: 'About Album';
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font: 33px Cafe24-Shiningstar;
  white-space: nowrap;
  text-align: center;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.card1 .content .back::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}


.card1:hover .content {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
  color: white;
  position: relative;
}

.front .front-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front-content .badge {
  background-color: #000;
  padding: 3px 15px 5px;
  border-radius: 30px;
  backdrop-filter: blur(15px);
  width: fit-content;
  font: 33px Cafe24-Shiningstar;
  letter-spacing: 2px;
}

.front-content .card1_text{
  width: 310px;
  text-align: justify;
  font: 18px Pretendard-Light;
  line-height: 26px;
}


.card2 .content .back::before{
  content: 'Track List';
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font: 33px Cafe24-Shiningstar;
  white-space: nowrap;
  text-align: center;
}

.card2:hover .content {
  transform: rotateY(180deg);
}

.front-content .card2_text{
  width: 310px;
  text-align: justify;
  font: 18px Pretendard-Light;
  line-height: 26px;
}

.card3 .content .back::before{
  content: 'Album Contents';
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font: 33px Cafe24-Shiningstar;
  white-space: nowrap;
  text-align: center;
}

.card3:hover .content {
  transform: rotateY(180deg);
}

.front-content .card3_text{
  width: 310px;
  text-align: justify;
  font: 18px Pretendard-Light;
  line-height: 26px;
}

.musicbtn {
  display: flex;
  flex-wrap: wrap;
  width: 14em;
  align-items: center;
  justify-content: center;
  position: relative;
}

.musicbtn .music {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.musicbtn .text {
  position: absolute;
  font-size: 0.7em;
  color: black;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
  opacity: 1;
  z-index: 3;
  transition: 0.4s ease-in-out;
}

.musicbtn .music_back {
  position: absolute;
  border-radius: 10px;
  width: 11em;
  height: 11em;
  background: linear-gradient(360deg, #333, #00740a);
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #fff;
  opacity: 1;
}

.music:nth-child(2), 
.music:nth-child(4), 
.music:nth-child(5),
.music:nth-child(6),
.music:nth-child(8) {
  border-radius: 0px;
}
.music:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}
.music:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}
.music:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.music .center {
  position: absolute;
  margin-left: 0.2em;
  margin-top: 0.2em;
}

.musicbtn .spotify {
  background: url(../image/musiclogo_spotify.png) no-repeat center #03a9f4;
  background-size: contain;
  }

.musicbtn .apple {
  background: url(../image/musiclogo_apple.png) no-repeat center #aa8aa2;
  background-size: contain;
}
.musicbtn .melon {
  background: url(../image/musiclogo_melon.png) no-repeat center #39afcc;
  background-size: contain;
}
.musicbtn .genie {
  background: url(../image/musiclogo_genie.svg) no-repeat center #395bcc;
  background-size: contain;
}
.musicbtn .center {
  background: url(../image/) no-repeat center #63cc39;
  background-size: contain;
}
.musicbtn .vibe {
  background: url(../image/musiclogo_vibe.png) no-repeat center #cc9939;
  background-size: contain; 
}
.musicbtn .flo {
  background: url(../image/musiclogo_flo.png) no-repeat center #cc3939;
  background-size: contain; 
}
.musicbtn .bugs {
  background: url(../image/musiclogo_bugs.svg) no-repeat center #39cc71;
  background-size: contain; 
}
.musicbtn .youtube {
  background: url(../image/musiclogo_youtube.png) no-repeat center #ccc239;
  background-size: contain; 
}

/* 버튼 호버 */

.musicbtn:hover {
  width: 14em;
  cursor: pointer;
}

.musicbtn:hover .music {
  margin: 0.2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}

.musicbtn .spotify:hover {opacity: 1; }
.musicbtn .apple:hover {opacity: 1;}
.musicbtn .melon:hover {opacity: 1;}
.musicbtn .genie:hover {opacity: 1;}
.musicbtn .center:hover {opacity: 1;}
.musicbtn .vibe:hover {opacity: 1;}
.musicbtn .flo:hover {opacity: 1;}
.musicbtn .bugs:hover {opacity: 1;}
.musicbtn .youtube:hover {opacity: 1;}

.musicbtn:hover .text {
  opacity: 0;
  z-index: -3;
}
.musicbtn:hover .music_back {opacity: 0;}