@import url(reset.css);
@import url(font.css);

html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body{
  background-image: url(../image/bg.jpg);
  background-color: rgba(50, 50, 50, 1);
  background-blend-mode: multiply;
}


#wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* header _______________________ */


header{
  width: 100%;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.h_wrap{
  width: 1300px;
  /* border: 1px solid #fff; */
  display: flex;
  margin: 0 auto;
  padding: 15px 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
}

.logo{
  width: auto;
  height: 60px;
  /* flex: 1; */
}
.logo img{
  width: auto;
  height: 100%;
  margin-left: -6px;
  display: block;
}

.gnb{
  /* border: 1px solid #fff; */
  flex: 6;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 19px;
  letter-spacing: 0.07em;
}

.gnb ul{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.gnb ul li a{
  position: relative;
  display: inline-flex;
  height: 60px; 
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-weight: 700;
  color: #fff; 
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s;
}

.gnb ul li a:before,
.gnb ul li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  transform: translateX(-50%)
    translateY(-50%)
    rotate(0deg);
  transform-origin: center;
  background-color: #fff;
  opacity: 0;
  z-index: 0;
  transition: 0.3s;
}

.gnb ul li a:before {
  transform: translateY(calc(-50% - 20px))
}

.gnb ul li a:after {
  transform: translateY(calc(-50% + 20px))
}

.gnb ul li a:hover {
  color: #85BF72;
}

.gnb ul li a:hover:before, 
.gnb ul li a:hover:after {
  opacity: 0.6;
}

.gnb ul li a:hover:before{
  transform: rotate(45deg);
}

.gnb ul li a:hover:after {
  transform: rotate(-45deg);
}

.util{
  flex: 1;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 25px;
  height: 60px;
}

.util a {
  width: 24px;
  height: 24px;
  background-size: cover;
  transition: transform 0.2s;
}

.util a.login {background-image: url(../image/icon_login.png); }
.util a.cart {background-image: url(../image/icon_cart.png); }
.util a.search {background-image: url(../image/icon_search.png); }

.util a:hover {
  transform: scale(1.1);
}

.util a.login:hover {
  background-image: url(../image/icon_login_hover.png);
}
.util a.cart:hover {
  background-image: url(../image/icon_cart_hover.png);
}
.util a.search:hover {
  background-image: url(../image/icon_search_hover.png);
}


/* main _________________________ */

@keyframes kenburns-top-right {
  0% {transform: scale(1) translate(0, 0);
      transform-origin: 84% 16%; }
  100% {transform: scale(1.25) translate(20px, -15px);
        transform-origin: right top; }
}

main{
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 70px 0 100px;
  margin-top: 90px;
  color: #fff;
}

.main_visual{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: url(../image/main_v2bg.png) no-repeat center/cover fixed;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}
.main_visual::before{
  content: '';
  inset: 0;
  top: 0;
  right: 420px;
  position: absolute;
  background: url(../image/main_v2.png) no-repeat right top;
  opacity: 0.8;
  background-size: 60%;
  animation: kenburns-top-right 4s ease-out both;
  pointer-events: none;
  z-index: 10;
}

.main_text{
  /* border: 1px solid yellow; */
  position: absolute;
  top: 100px;
  left: 370px;
  font-family: 'Gmarket-SansLight', sans-serif;
  font-size: 45px;
  line-height: 1.4;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.main_text h2 span{font-family: 'Gmarket-SansBold', sans-serif;}
.main_text h2:first-child{margin-bottom: 15px;}
.main_text h2:nth-child(2) span{color: #85BF72;}

.main_caption{
  position: absolute;
  bottom: 150px;
  right: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 30px;
  z-index: 20;
}

.main_caption p{
  /* border: 2px solid yellow; */
  width: max-content;
  white-space: nowrap;
  text-align: right;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 32px;
  line-height: 1.4;
  color: #fff; 
  animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main_caption p span{color: #85BF72;}
.main_caption > p:first-child > span:first-of-type,
.main_caption > p:last-child  > span:last-of-type {color: #d5e289;}
.main_caption p:first-of-type{animation-delay: 0.4s;}
.main_caption p:last-of-type{animation-delay: 0.6s;}


/* //// 구매 버튼 //// */
main .btn{
  position: absolute;
  top: 400px;
  left: 475px;
  transform: translateX(-50%);

  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid #85BF72;
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
  z-index: 30;
  transform-origin: center; 
  transition: .3s;
}

.btn .fa-solid {
  font-size: 30px;
  color: #fff;
  transform: translateY(0);
  transition: .3s;
}

.btn::before {
  content: '구매하기';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Gmarket-SansMedium', sans-serif;
  color: #fff;
  font-size: 1px;
  transition: .3s;
}

.btn:hover {
  width: 200px;
  border-radius: 50px;
  background-color: #85BF72;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.btn:hover .fa-solid {
  font-size: 40px;
  transform: translateY(35px);
}

.btn:hover::before {
  font-size: 24px;
  opacity: 1;
  transform: translate(-50%, 35px);
}

  @keyframes focus-in-contract {
  0% {letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;}
  100% {filter: blur(0px);
        opacity: 1;}
  }

/* 마우스 스크롤 효과 */
@keyframes fadein {to {opacity: 1;}}
@keyframes hide {
  from {opacity: 1; transform: translateY(0);}
  to   {opacity: 0; transform: translateY(10px);}
}
@keyframes mouse-pulse {
    0% {opacity: 1;
        transform: translateY(0);}
    100% {opacity: 0;
        transform: translateY(6px);}
}
@keyframes fade-arrow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.mouse_scroll{
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadein .6s ease forwards 2s;
  will-change: opacity, transform;
  z-index: 999;
}

@supports (animation-timeline: scroll()) {
  .mouse_scroll > * {
    animation: hide 1s linear both;
    animation-timeline: scroll(root block);
    animation-range: 120px 320px;
  }
}

.mouse_scroll .mouse{
  display: block;
  width: 24px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 24px;
}

.mouse::after{
  content: '';
  display: block;
  position: relative;
  width: 2px;
  height: 6px;
  margin: 5px auto;
  background-color: #fff;
  animation: mouse-pulse 1s ease infinite;
}

.mouse_scroll .down{margin-top: 6px;}
.mouse_scroll .down span{
  display: block;
  position: relative;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-bottom: 2px;
  margin-left: -2px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg) translateX(-50%);
  animation: fade-arrow 1s infinite;
}
.mouse .down:nth-child(2){
  animation-delay: 0.2s;
  animation-direction: alternate;
}
.mouse .down:nth-child(2){
  animation-delay: 0.3s;
  animation-direction: alternate;
}



/* 섹션 _____________ */

/* //// 타이틀 //// */

#s1 .album h3,
#s2 .event_title h3,
#s3 .reviews_title h3{
  margin: 30px auto;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 55px;
  text-align: center;
  background-image: linear-gradient(90deg, #fff 0% , #fff 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-clip: text;
  transition: background-size .5s ease-in-out;
}

#s1 .album h3:hover,
#s2 .event_title h3:hover,
#s3 .reviews_title h3:hover{
  background-size: 100% 100%;
}

#s1, #s2, #s3{margin-top: 100px;}


/* #s1 앨범소개 */

#s1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#s1 .album, .video-wrap{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

#s1 .video-wrap{
  position: relative;
  width: 100%;
  max-width: 1300px;
  aspect-ratio: 16 / 9;
}

.video-wrap iframe {
  width: 100%;
  aspect-ratio: 16 / 9; 
  display: block;
  border: 0;
}


/* //// 카드 //// */

@keyframes rotation_481 {
  0% {transform: translate(-50%, -50%) rotateZ(0deg);}
  100% {transform: translate(-50%, -50%) rotateZ(360deg);}
}

@keyframes floating {
  0% {transform: translateY(0px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
}

.card{
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
  margin: 80px auto 0;
}

.card1, .card2, .card3{
  overflow: visible;
  width: 390px;
  height: 450px;
  perspective: 800px;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0);  
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;
  transition: transform .45s;
}

.front, .back{
  position: absolute;
  inset: 0;  
  transform-style: preserve-3d;
}

.front {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  transform: rotateY(0);
  backface-visibility: hidden;
  opacity: 1;
}

.back {
  transform: rotateY(180deg); 
  opacity: 0;
  color: #fff;
  background: linear-gradient(rgb(52, 78, 57) 10%, #85BF72 50%, #b3bf72 80%);
}

.front-content { /* 여분설정 */
  position: absolute;
  inset: 4px;
  border-radius: 16px;
  /* background: red; */
  z-index: 1;
}

.card .content .front img{
  position: absolute;
  inset: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  object-position: center;
  object-fit: cover;
  border-radius: 16px;
  z-index: 2;  
}

.front::after{
  position: absolute;
  content: ' ';
  display: block;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 370px;
  height: 170%;
  background: linear-gradient(90deg, transparent, #85BF72, #85BF72, transparent);
  animation: rotation_481 5s infinite linear;
}

.card2 .content .front::after{animation-delay: 1s;}

.card1 .content .front::before{content:'About Album';}
.card2 .content .front::before{content:'Track List';}
.card3 .content .front::before{content:'Album Contents';}

.card1 .content .front::before,
.card2 .content .front::before,
.card3 .content .front::before{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font: 33px 'Cafe24-Shiningstar', sans-serif;
  white-space: nowrap;
  text-align: center;
  z-index: 3;
}

.back .back-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-content .badge{
  background-color: #eee;
  color: #233;
  padding: 3px 15px 0;
  border-radius: 30px;
  margin-bottom: 20px;
  width: fit-content;
  height: 50px;
  font: bold 33px 'Cafe24-Shiningstar', sans-serif;
  letter-spacing: 2px;
}

.back-content .card1_text,
.back-content .card2_text,
.back-content .card3_text{
  width: 310px;
  text-align: justify;
  font: 18px 'Pretendard-Light', sans-serif;
  line-height: 26px;
}

.card1:hover .content,
.card2:hover .content,
.card3:hover .content{
  transform: rotateY(180deg);
}

.card1:hover .front,
.card2:hover .front,
.card3:hover .front {
  opacity: 0;
  pointer-events: none; 
}

.card1:hover .back,
.card2:hover .back,
.card3:hover .back {
  opacity: 1;
  pointer-events: auto;
}



/* //// 뮤직 셀렉트 버튼 //// */

.musicbtn {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 70px auto;
  gap: 0;
  transition: 0.3s ease-in-out;
}

.musicbtn .music_front {
  position: absolute;
  border-radius: 10px;
  width: 230px;
  height: 230px;
  background-color: #a4e090;
  box-shadow: inset 0px 0px 80px 3px #d5e289;
  z-index: 0;
}

.musicbtn .text {
  position: absolute;
  font-family: 'Gmarket-SansMedium', sans-serif;
  font-size: 22px;
  line-height: 1.6;
  color: #fff;
  text-shadow: 0 0 5px #222;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
  z-index: 1;
}

.musicbtn .music {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-top-left-radius: 10px;
  backdrop-filter: blur(5px);
  opacity: 0;
  z-index: 2;
}

.music:nth-child(2), 
.music:nth-child(4), 
.music:nth-child(5),
.music:nth-child(6),
.music:nth-child(8) {
  border-radius: 0px;
}
.music:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}
.music:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}
.music:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.musicbtn.center {
  position: absolute;
  margin-left: 6px;
  margin-top: 6px;
}

.music.spotify {
  background: url(../image/musiclogo_spotify.png) no-repeat center #85BF72;
  background-size: 70%;
  }

.music.apple {
  background: url(../image/musiclogo_apple.png) no-repeat center #85BF72;
  background-size: 80%;
}
.music.melon {
  background: url(../image/musiclogo_melon.png) no-repeat center #85BF72;
  background-size: 100%;
}
.music.genie {
  background: url(../image/musiclogo_genie.png) no-repeat center #85BF72;
  background-size: 70%;
}
.music.center {
  background: url(../image/musiclogo_center.png) no-repeat center #85BF72;
  background-size: 80%;
}
.music.vibe {
  background: url(../image/musiclogo_vibe.png) no-repeat center #85BF72;
  background-size: 90%; 
}
.music.flo {
  background: url(../image/musiclogo_flo.png) no-repeat center #85BF72;
  background-size: 100%;
}
.music.bugs {
  background: url(../image/musiclogo_bugs.png) no-repeat center #85BF72;
  background-size: 70%;
}
.music.youtube {
  background: url(../image/musiclogo_youtube.png) no-repeat center #85BF72;
  background-size: 70%;
}

/* 버튼 호버 */

.musicbtn:hover {
  width: 280px;
  height: 280px;
  gap: 8px;
  cursor: pointer;
}

.musicbtn:hover .music {
  opacity: .7;
  margin: 4px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.musicbtn .music:hover {opacity: 1;}

.musicbtn:hover.spotify,
.musicbtn:hover.apple,
.musicbtn:hover.melon,
.musicbtn:hover.genie,
.musicbtn:hover.center,
.musicbtn:hover.vibe,
.musicbtn:hover.flo,
.musicbtn:hover.bugs,
.musicbtn:hover.youtube{opacity: 1;}

.musicbtn:hover .text {opacity: 0;}
.musicbtn:hover .music_front {opacity: 0;}



/*  //// #s2 구매이벤트 //// */

.event_title h4{
  /* border: 3px solid yellow; */
  color: #fff;
  text-align: center;
  font-family: 'Gmarket-SansLight', sans-serif;
  font-size: 18px;
  margin-top: -20px;
}

.event_wrap{
  /* border: 10px solid red; */
  margin: -65px auto 30px;
  padding-bottom: 90px;
  width: 1300px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.photocard {
  display: flex;
  justify-content: center;
  column-gap: 80px;
}

.photocard1, .photocard2 {
  /* border: 1px solid #000; */
  position: relative;
  width: 500px;
  height: 230px;
  border-radius: 20px;
  background: transparent;
  transition: .3s ease-in-out;
}

.photocard_main{
  position: absolute;
  top: 170px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  width: 480px;
  height: 230px;
  text-align: center;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 35px;
  text-shadow: 0 0 2px #333;
  background-color: #fff;
  border: 3px solid #b3bf72;
  border-radius: 20px;
  z-index: 2;
  transition: .4s ease-in-out;
}

.photocard_upper, .photocard_lower{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 450px;
  background-color: #fff;
  font-family: 'Gmarket-SansMedium', sans-serif;
  font-size: 18px;
  transition: .4s ease-in-out;
}

.photocard_upper{
  top: 170px;
  height: 100px;
  border-radius: 15px 15px 0 0;
}

.photocard_lower{
  top: 175px;
  height: 220px;
  border-radius: 0 0 15px 15px;
  display: flex;
  column-gap: 35px;
}

.photocard_img{
  height: 180px;
  aspect-ratio: 2/2.5;
  overflow: hidden;
  border-radius: 10px;
}
.photocard_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photocard_main:hover {
  background-color: #b3bf72;
  color: #fff;
  cursor: pointer;
}

.photocard_main:hover + .photocard_upper {
  top: 80px;
}

.photocard_main:hover ~ .photocard_lower {
  top: 390px;
}

.photocard2 .photocard_upper span{
  font-family: 'Gmarket-SansLight', sans-serif;
  font-size: 14px;
  line-height: 10px;
  margin-top: -3px;
}

/* #2의 2번째 아티클 */

.event_detail{
  /* border: 1px solid #000; */
  margin: 0 auto;
  width: 1060px;
  margin: 450px auto 0;
  position: relative;
  transition: .3s;
}

.event_detail button{
  border: 2px solid #85BF72;
  background-color: #fff;
  color: #85BF72;
  border-radius: 30px;
  padding: 5px 25px;
  margin-bottom: 13px;
  font-family: 'Cafe24-Danjunghae', sans-serif;
  font-size: 26px;
  letter-spacing: 2px;
  width: max-content;
  position: absolute;
  top: -20px;
  left: 0;
  transform: translateX(0);
  transition: .3s;
}

.event_notice2{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0 40px;
  border-radius: 20px;
  transition: .3s;
}

.event_guide{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.2fr 4fr;
  grid-template-rows: .8fr .8fr .8fr;
  align-items: center;
}

.event_guide img{
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
}

.event_guide div:nth-child(-n+3){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: #85BF72;
  color: #fff;
  width: 160px;
  height: 40px;
  padding: 3px 15px 0;
  font-family: 'Gmarket-SansMedium', sans-serif;
  font-size: 20px;
  border-radius: 30px;
}

.event_guide div:nth-child(n+4){
  font-family: 'Pretendard-Light', sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.event_detail:hover .event_notice2{
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.7);
  border: 1.5px solid #85BF72;
}
.event_detail:hover{
  align-items: center;
  transition: .3s;
}
.event_detail:hover button{
  left: 50%;
  transform: translateX(-50%);
}


/* //// #s3 구매후기 섹션 */


.reviews{
  display: flex;
  gap: 10px;
  width: 1300px;
  margin: 0 auto;
}
.reviews .user{
  background-color: #777;
  height: 300px;
  width: 100px;
  flex: 1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  padding: 20px;
  
  font-family: 'Pretendard-Light', sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
  color: #fff;

  transition: all 0.3s ease;
}

.reviews .user:hover{
  flex: 2;
  background-color: #85BF72;
  font-size: 22px;
  font-family: 'Pretendard-SemiBold', sans-serif;
}


/* //// 유의사항 //// */
.notice{
  width: 1300px;
  margin: 100px auto;
  padding: 15px 30px 25px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 1.8;
  font-family: 'Pretendard-Light', sans-serif;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.notice_title{
  background-color: #fff;
  color: #85BF72;
  width: max-content;
  padding: 5px 15px 2px;
  border-radius: 30px;
  font-family: 'Gmarket-SansBold', sans-serif;
  margin: 20px 0;
  opacity: 1;
}

.notice_text em{
  color: yellowgreen;
  font-style: normal;
  font-weight: bold;
}

.notice_title:hover{opacity: 0.75;}


/* //// 구매 버튼 //// */

.btn_p{
  /* border: 3px solid red; */
  position: relative;
  width: 100%;
  height: 150px;
  }

.btn_p .btn{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: none;
  background-color: #000;
  border: 1px solid #85BF72;
  cursor: pointer;
  overflow: hidden;
  z-index: 30;
  transform-origin: center; 
  transition: .3s;
}

.btn_p .btn:hover {
  width: 200px;
  border-radius: 50px;
  background-color: #85BF72;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}


/* footer ________________________ */

footer{
  background-color: #111;
  width: 100%;
}

.f_wrap{
  width: 1300px;
  margin: 0 auto;
  color: #fff;
  padding: 30px 0;
  font-family: 'Pretendard-Light', sans-serif;
  font-size: 13px;
}

.fnb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.fnb>li a{
  display: block;
  text-align: center;
  padding: 0 30px 0 0;
}

/* 첫 번째 이후 아이템 왼쪽에만 세로 구분선 */
.fnb>li+li{
  position: relative;
}
.fnb>li+li::before{
  content:"";
  position:absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 80%;
  background: #ddd;
}

.fnb .f_btn{
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
}

.f_up .f_btn ul li{
  display: none;
}

.f_down{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.f_down img{
  width: 80px;
  margin-right: 20px;
}



/* //// 탑화면 바로가기 //// */

@keyframes goto-show {
  0%   { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}
@supports (animation-timeline: scroll()) {
  .goto-top{
    animation: goto-show linear both;
    animation-timeline: scroll();
    animation-range: 500px 1000px;
  }
}

.goto-top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 150px;
  bottom: 140px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #85BF72;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  z-index: 999;
}

.goto-top i{
  color: #85BF72;
}