.musicbtn {
  display: flex;
  flex-wrap: wrap;
  width: 14em;
  align-items: center;
  justify-content: center;
  position: relative;
}

.musicbtn .music {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.musicbtn .text {
  position: absolute;
  font-size: 0.7em;
  color: black;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
  opacity: 1;
  z-index: 3;
  transition: 0.4s ease-in-out;
}

.musicbtn .music_back {
  position: absolute;
  border-radius: 10px;
  width: 11em;
  height: 11em;
  background: linear-gradient(360deg, #333, #00740a);
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #fff;
  opacity: 1;
}

.music:nth-child(2), 
.music:nth-child(4), 
.music:nth-child(5),
.music:nth-child(6),
.music:nth-child(8) {
  border-radius: 0px;
}
.music:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}
.music:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}
.music:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.music .center {
  position: absolute;
  margin-left: 0.2em;
  margin-top: 0.2em;
}

.musicbtn .spotify {
  background: url(../image/musiclogo_spotify.png) no-repeat center #03a9f4;
  background-size: contain;
  }

.musicbtn .apple {
  background: url(../image/musiclogo_apple.png) no-repeat center #aa8aa2;
  background-size: contain;
}
.musicbtn .melon {
  background: url(../image/musiclogo_melon.png) no-repeat center #39afcc;
  background-size: contain;
}
.musicbtn .genie {
  background: url(../image/musiclogo_genie.svg) no-repeat center #395bcc;
  background-size: contain;
}
.musicbtn .center {
  background: url(../image/) no-repeat center #63cc39;
  background-size: contain;
}
.musicbtn .vibe {
  background: url(../image/musiclogo_vibe.png) no-repeat center #cc9939;
  background-size: contain; 
}
.musicbtn .flo {
  background: url(../image/musiclogo_flo.png) no-repeat center #cc3939;
  background-size: contain; 
}
.musicbtn .bugs {
  background: url(../image/musiclogo_bugs.svg) no-repeat center #39cc71;
  background-size: contain; 
}
.musicbtn .youtube {
  background: url(../image/musiclogo_youtube.png) no-repeat center #ccc239;
  background-size: contain; 
}

/* 호버 */

.musicbtn:hover {
  width: 14em;
  cursor: pointer;
}

.musicbtn:hover .music {
  margin: 0.2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}

.musicbtn .spotify:hover {opacity: 1; }
.musicbtn .apple:hover {opacity: 1;}
.musicbtn .melon:hover {opacity: 1;}
.musicbtn .genie:hover {opacity: 1;}
.musicbtn .center:hover {opacity: 1;}
.musicbtn .vibe:hover {opacity: 1;}
.musicbtn .flo:hover {opacity: 1;}
.musicbtn .bugs:hover {opacity: 1;}
.musicbtn .youtube:hover {opacity: 1;}

.musicbtn:hover .text {
  opacity: 0;
  z-index: -3;
}
.musicbtn:hover .music_back {opacity: 0;}